nav{
  display: flex;
  font-family: Bungee, sans-serif;
  color: #FFFFFF;
  height: 120px;
  background-color: #4056A1;
}

#nav-title-logo{
  display: flex;
  align-items: center;
  margin-left: 1.5em;
  flex-grow: 1;
}

.write-new-tweet-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  margin-right: 1.5em;
  flex-direction: column;
}
.write-new-tweet-logo{
  display: flex;
  justify-content: center;
}