form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%
}

form div{
  display: flex;
  width: 100%;
  color: #e6bd41;
  justify-content: space-between;
  padding: 1rem;
}

form label{
  width : 100%;
  font-size: 2rem;
  text-align: center;
  padding:2rem;
}

textarea {
  outline: none;
  border-color: white;
  border-top: 0rem;
  border-left: 0rem;
  border-right: 0rem;
  background-color: #414152;
  overflow-y: hidden;
  resize: none;
  width: 100%;
  font-size: 1em;
  height: 3em;
  color: #FFFFFF;

}
.counter{
 font-family: Bungee;
}

.counter-over-limit{
  color: red;
}

#tweet-submit{
  background-color: #943141;
  color:#e6bd41;
  border-color: #e6bd41;
  border-radius: 0.5rem;
  font-family: Bungee;
  font-weight: bold;
  

}

.error-message{
  display: flex;
  flex-direction: row;
  color: red;
  border: solid red;
  width: 40%;
  display: flex;
  justify-content: center;
  padding: 0.5em 1em;
}