article{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  border: solid #7b7b7b;
  padding: 10px 10px;
  margin: 10px 0px;
}

article:hover{
  box-shadow: 10px 5px 5px #292929;
}

article header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  margin-top: 0px;
  background-image: none;
}

article header span{
  display: flex;
  align-items: center;
}

article header span img{
  padding: 10px 0px 10px 10px;
}

article h4{
  margin: 10px;
}

article p{
  text-align: justify;
}

footer{
  display: flex;
  justify-content: space-between;
  border-top: solid 10px #FFFFFF;
}

footer p{
  color:#FFFFFF;
}

footer span{
  display: flex;
  align-items: center;
}

footer i{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  color: #943141

}

footer i:hover{
  color: #e6bd41;
}