/* For each tweet taken from database displayed on page. */

article{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: solid #7b7b7b;
  padding: 1em 1em 0em 1em;
  margin: 1em 1em;
}

article:hover{
  box-shadow: 2rem 0.5rem 0.5rem #292929;
}

.article-header{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;

  background-image: none;
}

article header span{
  display: flex;
  align-items: center;
}

article header span img{
  padding: 0.5em 0em 0.5em 0.5em;
}

article h4{
  margin: 0.5em;
}

article p{
  text-align: justify;
  overflow-wrap: anywhere;
}

article footer{
  display: flex;
  justify-content: space-between;
  border-top: solid 0.1em #FFFFFF;
}

article footer span{
  display: flex;
  align-items: center;
}

article footer i{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
  color: #943141

}

article footer i:hover{
  color: #e6bd41;
}